body {
    margin: 0;
    font-family: raleway;
    font-size: 18px;
}

body h1 {
    font-size: 32px;
}

.top_section {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 75%;
    margin: auto;
}

.top_section img {
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.shortinfo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.tag{
    background-color: #EFEFEF;
    height: auto;
    display: flex;
    gap: 15px;
    border-radius: 10px;
    padding: 10px 10px;
}

.tag img{
    height: 20px;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
  }

  .enlarged-img {
    max-width: 90%;
    max-height: 90%;
  }