body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    height: 100%;
}
html {
    height: 100%;
}

h1 {
    font-size: 32px;
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 28px;
}

.relative{
    position: relative;
    min-height: 100%;
}

.content{
    padding-bottom: 200px;
}

.logo {
    width: 300px;
    object-fit: contain;
}
.logo-handy {
    display: none;
}
.link-start {
    display: flex;
    align-items: center;
}
nav {
    display: flex;
    align-items: flex-end;
    gap: 16px;
}

nav a {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
    transition: color 0.3s;
  }

nav a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: #3A7D26; /*Farbe der aufbauenden Underline*/
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s;
}

nav a:hover {
    color: #3A7D26; /*Schriftfarbe ändern, wenn Maus über Link*/
}

nav a:hover:before {
    transform: scaleX(1); /* Underline aufbauen, wenn Maus über Link*/
}

.burger {
    display: none;
}

.hidden-without-mobile ul{
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    text-align: center;
}
.hidden-without-mobile a{
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 4px;
    padding: 4px;
}

.white{
    background-color: white;
}

#click {
    display: none;
}

.header {
    display: flex;
    min-height: 130px;
    justify-content: space-between;
    margin: 0 192px;
}
.header-underline {
    background: linear-gradient(to bottom, #E7E7E7, white);
    height: 5px;
}

.button {
    background-color: #3A7D26;
    color: white;
    font-size: 16px;
    width: 200px;
    height: 45px;
    border: none;
    border-radius: 0;
}

.button:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 4px #3A7D26);
}

.d_none {
    display: none;
}

footer {
    height: 200px;
    background-color: #3f3b3b;
    position: absolute;
    bottom: 0;
    width: 100%;
}

@media (max-width: 1351px){
    .header {
        margin: 0 96px;
    }
}

@media (max-width: 1250px){

}

@media (max-width: 1150px){
    .header {
        margin: 0 46px;
    }
}

@media (max-width: 1050px){
    nav {
        align-items: center;
    }
    .nav-link {
        display: none;
    }
    .burger {
        display: flex;
        width: 40px;
    }
    #click:checked ~ ul {
        display: flex;
        top: 130px;
        margin: 0;
        backdrop-filter: blur(20px);
    }
    .positions{
        width: 100%;
        height: 100%;
    }
    .content{
        padding-bottom: 100px;
    }
    .button {
        display: none;
    }
    footer{
        height: 100px;
    }
}

@media (max-width: 650px){

}

@media (max-width: 432px){
    .logo {
        display: none;
    }
    .logo-handy {
        display: flex;
        width: 64px;
        object-fit: contain;
    }
}